# Ignorar respaldos de bases de datos y datos de todos los clientes y versiones
/arquitectura/odoo*/clientes/*/respaldo_db/
/arquitectura/odoo*/clientes/*/respaldo_db/*
/arquitectura/odoo*/clientes/*/data/
/arquitectura/odoo*/clientes/*/data/*
/arquitectura/odoo*/clientes/*/respaldo_odoo/
/arquitectura/odoo*/clientes/*/respaldo_odoo/*

# Ignorar entornos virtuales de todas las versiones
/arquitectura/odoo*/.venv

# Ignorar carpetas de código fuente de Odoo descargadas o clonadas
/arquitectura/odoo*/odoo

# Ignorar carpetas específicas de clientes (por ejemplo, enterprise, log, etc.)
/arquitectura/odoo*/clientes/*/log/
/arquitectura/odoo*/clientes/*/extra-addons/enterprise

# (Opcional) Ignorar todos los archivos .pyc y carpetas __pycache__ en cualquier parte del proyecto
# **/__pycache__/
# /**/*.pyc

# /arquitectura/odoo*/clientes/*/extra-addons/*/*/*.py
# /arquitectura/odoo*/clientes/*/extra-addons/*/*/*/*.py